#ðŸ“Œ ExtracÃ£o

In [105]:
import pandas as pd
df = pd.read_json(r'C:\Users\Desant\Downloads\challenge2-data-science-main\challenge2-data-science-main\TelecomX_Data.json')
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [106]:
identif = df.loc[:, ['customerID', 'Churn']]
identif

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]

#ðŸ”§ TransformaÃ§Ã£o

In [107]:
df_cliente = pd.json_normalize(df['customer'])
df_cliente

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [108]:
df_cliente['tenure'].unique()

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14,
       35, 64, 39, 40,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 51, 31, 36,
       17, 18, 38, 42,  0])

In [109]:
df_phone = pd.json_normalize(df['phone'])
df_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [110]:
df_phone['MultipleLines'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [111]:
df_internet = pd.json_normalize(df['internet'])
df_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [112]:
df_internet['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [113]:
df_contrato = pd.json_normalize(df['account'])
df_contrato

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [114]:
df_final = pd.concat([identif,df_cliente, df_phone, df_internet, df_contrato], axis=1)
df_final

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [115]:
df_final['Valor DiÃ¡rio'] = df_final['Charges.Monthly'] / 30
df_final.head(1)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Valor DiÃ¡rio
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,2.186667

In [116]:
nomes_colunas = {
    'customerID': 'ID Cliente',
    'Churn': 'Churn',
    'gender': 'GÃªnero',
    'SeniorCitizen': 'Idoso',
    'Partner': 'Parceiro',
    'Dependents': 'Dependentes',
    'tenure': 'Tempo de Contrato (meses)',
    'PhoneService': 'ServiÃ§o de Telefone',
    'MultipleLines': 'Linhas MÃºltiplas',
    'InternetService': 'ServiÃ§o de Internet',
    'OnlineSecurity': 'SeguranÃ§a Online',
    'OnlineBackup': 'Backup Online',
    'DeviceProtection': 'ProteÃ§Ã£o de Dispositivo',
    'TechSupport': 'Suporte TÃ©cnico',
    'StreamingTV': 'Canal de TV',
    'StreamingMovies': 'Canal de Filmes',
    'Contract': 'Tipo de Contrato',
    'PaperlessBilling': 'Fatura Online',
    'PaymentMethod': 'MÃ©todo de Pagamento',
    'Charges.Monthly': 'CobranÃ§a Mensal',
    'Charges.Total': 'CobranÃ§a Total',
}

In [117]:
df_final.rename(columns=nomes_colunas, inplace=True)

In [118]:
df_final.head(1)

,ID Cliente,Churn,GÃªnero,Idoso,Parceiro,Dependentes,Tempo de Contrato (meses),ServiÃ§o de Telefone,Linhas MÃºltiplas,ServiÃ§o de Internet,...,ProteÃ§Ã£o de Dispositivo,Suporte TÃ©cnico,Canal de TV,Canal de Filmes,Tipo de Contrato,Fatura Online,MÃ©todo de Pagamento,CobranÃ§a Mensal,CobranÃ§a Total,Valor DiÃ¡rio
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,2.186667

In [119]:
import numpy as np

In [120]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID Cliente                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   GÃªnero                     7267 non-null   object
 3   Idoso                      7267 non-null   int64
 4   Parceiro                   7267 non-null   object
 5   Dependentes                7267 non-null   object
 6   Tempo de Contrato (meses)  7267 non-null   int64
 7   ServiÃ§o de Telefone        7267 non-null   object
 8   Linhas MÃºltiplas           7267 non-null   object
 9   ServiÃ§o de Internet        7267 non-null   object
 10  SeguranÃ§a Online           7267 non-null   object
 11  Backup Online              7267 non-null   object
 12  ProteÃ§Ã£o de Dispositivo    7267 non-null   object
 13  Suporte TÃ©cnico            7267 non-null   object
 14  Canal de TV                7267 non-null   object
 15  Canal de Filmes            7267 non-null   object
 16  Tipo de Contrato           7267 non-null   object
 17  Fatura Online              7267 non-null   object
 18  MÃ©todo de Pagamento        7267 non-null   object
 19  CobranÃ§a Mensal            7267 non-null   float64
 20  CobranÃ§a Total             7267 non-null   object
 21  Valor DiÃ¡rio               7267 non-null   float64
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [121]:
df_final['CobranÃ§a Total'] = df_final['CobranÃ§a Total'].replace('.','')
df_final['CobranÃ§a Total'] = pd.to_numeric(df_final['CobranÃ§a Total'], errors='coerce')
df_final['CobranÃ§a Total']

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7262     742.90
7263    1873.70
7264      92.75
7265    4627.65
7266    3707.60
Name: CobranÃ§a Total, Length: 7267, dtype: float64

In [124]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID Cliente                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   GÃªnero                     7267 non-null   object
 3   Idoso                      7267 non-null   int64
 4   Parceiro                   7267 non-null   object
 5   Dependentes                7267 non-null   object
 6   Tempo de Contrato (meses)  7267 non-null   int64
 7   ServiÃ§o de Telefone        7267 non-null   object
 8   Linhas MÃºltiplas           7267 non-null   object
 9   ServiÃ§o de Internet        7267 non-null   object
 10  SeguranÃ§a Online           7267 non-null   object
 11  Backup Online              7267 non-null   object
 12  ProteÃ§Ã£o de Dispositivo    7267 non-null   object
 13  Suporte TÃ©cnico            7267 non-null   object
 14  Canal de TV                7267 non-null   object
 15  Canal de Filmes            7267 non-null   object
 16  Tipo de Contrato           7267 non-null   object
 17  Fatura Online              7267 non-null   object
 18  MÃ©todo de Pagamento        7267 non-null   object
 19  CobranÃ§a Mensal            7267 non-null   float64
 20  CobranÃ§a Total             7256 non-null   float64
 21  Valor DiÃ¡rio               7267 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

#ðŸ“Š Carga e anÃ¡lise

In [122]:
media_cobranca_mensal = df_final['CobranÃ§a Mensal'].mean()

#ðŸ“„Relatorio Final